<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="card">
        <div class="card-body">This is a card</div>
    </div>
    <div class="card">
        <div class="card-header">Card Header</div>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, inventore.</div>
        <div class="card-footer">Card Footer</div>
    </div>
    <div class="card">
        <div class="card-header">Card Header</div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam ducimus id repellat voluptate dolorem
                officiis harum, incidunt voluptates molestiae, quidem ex adipisci optio expedita atque doloremque quas
                enim hic ullam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et non repellat sed dolore porro enim, fugiat,
                ad, laudantium culpa harum inventore? Velit exercitationem neque et omnis perspiciatis eum quidem
                doloribus amet veritatis mollitia ratione, sed impedit consequuntur, ab cum quasi deleniti quaerat odit!
                Amet, ullam non quaerat odit nisi voluptate ab impedit fuga unde voluptas soluta culpa, ducimus rem quo
                vel tempora natus incidunt quam aspernatur earum. Iusto a ea facere accusantium id mollitia fugit
                voluptate quod minus, suscipit nobis fugiat quia hic sapiente iste, sequi commodi ipsa neque ab
                exercitationem labore dolorum repellendus eum? Sit illo reiciendis itaque saepe!</p>
        </div>
        <div class="card-footer">
            <div class="btn btn-primary">Got it!</div>
            <div class="btn btn-secondary">Ignore</div>
        </div>
    </div>
</body>

</html>