<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <input type="text" class="form-input" placeholder="Text">
    <input type="number" class="form-input" placeholder="Number">
    <label class="form-check">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
    <label class="form-check">Two
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <!-- <div class="card wd-4">
        <div class="card-body">
            <form action="" class="form-control">
                <input type="email" class="form-input" placeholder="Email">
                <input type="password" class="form-input" placeholder="Password">
                <button class="btn btn-primary">Primary</button>
            </form>
        </div>
    </div> -->
    
</body>

</html>