<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-logo">Breeze > Components > Forms</div>
        <div class="navbar-links">
            <a href="../index.html">Home</a>
            <a href="components.html">Components</a>
        </div>
    </div>
    <div class="container-pane">
        <div class="sidebar">
            <h3>Components</h3>
            <a href="button.html" class="btn btn-links">Button</a>
            <a href="card.html" class="btn btn-links">Card</a>
            <a href="input.html" class="btn btn-links">Form</a>
            <a href="navbar.html" class="btn btn-links">Navbar</a>
            <a href="sidebar.html" class="btn btn-links">Sidebar</a>
        </div>
        <div class="container center">
            <div class="container center">
                <div class="card">
                    <div class="card-body">
                        <input type="text" class="form-input" placeholder="Text">
                        <input type="number" class="form-input" placeholder="Number">
                        <label class="form-check">One
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="form-check">Two
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <form action="" class="form-control">
                            <input type="email" class="form-input" placeholder="Email">
                            <input type="password" class="form-input" placeholder="Password">
                            <button class="btn">Primary</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- <div class="card wd-4">
        <div class="card-body">
            <form action="" class="form-control">
                <input type="email" class="form-input" placeholder="Email">
                <input type="password" class="form-input" placeholder="Password">
                <button class="btn btn-primary">Primary</button>
            </form>
        </div>
    </div> -->

</body>

</html>