<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-logo">Breeze > Components > Sidebar</div>
        <div class="navbar-links">
            <a href="../index.html">Home</a>
            <a href="">Components</a>
            <a href="">Also a menu</a>
        </div>
    </div>
    <div class="container-pane">
        <div class="sidebar">
            <h3>Components</h3>
            <a href="button.html" class="btn btn-links">Button</a>
            <a href="card.html" class="btn btn-links">Card</a>
            <a href="input.html" class="btn btn-links">Form</a>
            <a href="navbar.html" class="btn btn-links">Navbar</a>
            <a href="sidebar.html" class="btn btn-links">Sidebar</a>
        </div>
        <div class="container center">
            <h1><button>Sidebar</button></h1>
        </div>
    </div>
</body>

</html>